.addNoteContainer {
    height: 100vh;
    background-color: #252525;
}

.addNoteContainer .note {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    padding: 16px 8px 0;
}

.addNoteContainer .note input {
    width: 80%;
    background: none;
    color: #bdbdbd;
    height: 50px;
    border: none;
    font-size: 24px;
    padding-left: 16px;
    box-sizing: border-box;
    border-radius: 8px;
}

.addNoteContainer .note input:focus {
    outline: none;
    background-color: #303030;
}

.addNoteContainer .note textarea {
    width: 80%;
    background: none;
    color: #bdbdbd;
    height: calc(100% - 60px);
    border: none;
    box-sizing: border-box;
    padding: 16px;
    font-size: 16px;
    border-radius: 8px;
}

.addNoteContainer .note textarea:focus {
    outline: none;
    background-color: #303030;
}

@media (max-width: 600px) {
    .addNoteContainer .note input {
        width: 100%;
    }
    .addNoteContainer .note textarea {
        width: 100%;
    }
}

.modalHeader {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.modalHeader .title {
    color: #fff;
    margin: 0 10px 0 0;
    font-size: 18px;
}

.cancelButton {
    background-color: #535353;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 10px;
}

.deleteButton {
    background-color: #5f367a;
    color: #fff;
    border: none;
    padding: 8px 10px;
    border-radius: 6px;
    cursor: pointer;
}