.loginContainer {
    background-color: #252525;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loginForm {
    border: solid 1px #353535;
    display: flex;
    flex-direction: column;
    width: 35%;
    box-sizing: border-box;
    padding: 5px 20px 20px;
    border-radius: 10px;
    margin-top: 40px;
}

.loginFormTitle {
    color: #fff;
    margin: 8px 0 24px;
}

.inputLogin {
    background-color: #252525;
    border: none;
    height: 40px;
    color: #fff;
    margin-bottom: 24px;
    border: solid 1px #353535;
    padding-left: 16px;
    border-radius: 8px;
}

.inputLogin:focus {
    outline: none;
}

.loginButton {
    background: rgb(131, 96, 181);
    background: linear-gradient(176deg, rgba(131, 96, 181, 1) 17%, rgba(170, 33, 160, 1) 91%);
    border: none;
    height: 40px;
    cursor: pointer;
    border-radius: 8px;
    color: #fff;
}

.subtitle {
    color: #7c7c7c
}

a {
    color: #8c40aa;
}